*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* background: linear-gradient(135deg, #71b7e6, #9b59b6); */

body{

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #11101d;

}

.container{

    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;

}

.container .title{

    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title:before{

    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #1d1b31);

}

.error{

    font-size: 20px;
    font-weight: 600;
    line-height: 2rem;
    color: #721c24;
    text-align: center;
    border-radius: 5px;
    background: #f8d7da;
    margin-bottom: 10px;

}

.container form .user-details{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;

}

form .user-details .input-box{
    position: relative;
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box i{

    position: absolute;
    font-size: 25px;
    transform: translate(-30px, 10px);
    cursor: pointer;
}

.user-details .input.img{

    display: flex;
    flex-direction: column;

}

.user-details .input.img .details.img{

    margin-bottom: 10px;

}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}


form .choice-details .choice-title{

    text-align: center;
    background: #71b7e6;
    border-radius: 12px 12px 0 0;
    padding: 5px;

}

form .choice-details .gender-title,
form .choice-details .role-title{

    font-size: 20px;
    font-weight: 500;
}

form .choice-details .gender-category,
form .choice-details .role-category{

    display: flex;
    width: 100%;
    margin: 14px 0;
    justify-content: space-around;
}

.choice-details .gender-category label,
.choice-details .role-category label{

    display: flex;
    align-items: center;
    text-align: center;
}

.choice-details .choice-wrapper .gender-category .dot,
.choice-details .choice-wrapper .role-category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

.choice-details .choice-wrapper{

    display: flex;
    justify-content: space-between;

}

.choice-details .gender-wrapper,
.choice-details .role-wrapper{
    background: #1d1b31;
    border-radius: 12px;
    width: 50%;
    color: #fff;
}

.choice-details .role-wrapper{

    margin-left: 38px;

}

#dot-1:checked ~ .choice-wrapper .gender-category label .one,
#dot-2:checked ~ .choice-wrapper .gender-category label .two,
#dot-3:checked ~ .choice-wrapper .gender-category label .three,
#dot-4:checked ~ .choice-wrapper .role-category label .four,
#dot-5:checked ~ .choice-wrapper .role-category label .five{

    border-color: #d9d9d9;
    background: #1d1b31;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

    -webkit-appearance: none;

}

form input[type = "radio"]{
    display: none;
}

form .button{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 100%;
    margin: 30px 0px 10px;
}

form .button input{
    height: 100%;
    width: 250px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: #1d1b31;
}

form .button input:hover{
    background: #71b7e6;
}






@media (max-width: 584px){

    .container{
        max-width: 100%;
    }

    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    form .gender-details .category{
        width: 100%;
    }

    form .role-details .category{
        width: 100%;
    }

    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }

}




















